.item{
 transition:0.2s;
}

.item:active{
 transform:scale(0.97);
}

.nav button{
 box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.glass{
 box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

input:focus, select:focus{
 outline:none;
 box-shadow:0 0 0 2px #22c55e;
}
